.user-page {
  position: relative;
  text-align: center;
}

.btn-other {
  margin: 52px 0 35px;
}

.btn-myself {
  margin: 38px 0 0;
}

.myself-num-tip {
  margin-top: 68px;
  font-size: 24px;
  font-weight: bold;
  color: #f9f5c0;
  span {
    padding: 8px;
    font-size: 26px;
    color: #cb3867;
  }
}

.avatar {
  position: absolute !important;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.share {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .9);
  z-index: 10;
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  > div {
    position: absolute;
    top: 15px;
    right: 40px;
    width: 260px;
    height: 320px;
    background: url("assets/share-bg@2x.png") no-repeat center / contain;
    text-align: right;
    color: #57d1c9;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.4;
    &:before {
      content: '';
      display: inline-block;
      height: 83%;
    }
  }
}

.guide-tip {
  margin: 24px 0 70px;
  color: #d64070;
  font-size: 24px;
  font-weight: bold;
  
  .guide-tip-text {
    padding-bottom: 10px;
    border-bottom: 2px dashed #d64070;
  }
}

.popup {
  text-align: center;
  
  .stars-wrapper {
    position: absolute;
    top: 130px;
    left: 130px;
    
    span {
      display: inline-block;
      background: url("assets/star@2x.png") no-repeat center / contain;
    }
    
    .big {
      position: relative;
      width: 30px;
      height: 48px;
      top: 27px;
    }
    
    .little {
      width: 21px;
      height: 33px;
    }
  }
  
  .guide-face {
    margin: 9px 0 30px;
    width: 102px;
    height: 102px;
  }
  
  .guide-p {
    margin-bottom: 28px;
    color: #57d1c9;
    font-size: 28px;
  }
  
  .guide-link {
    margin: 0 8px;
    padding-bottom: 4px;
    border-bottom: 2px solid #ed5485;
    color: #ed5485;
  }
}