.user-page {
  position: relative;
  text-align: center;
}

.btn-other {
  margin: 40px 0 63px;
}

.btn-myself {
  margin: 128px 0 142px;
}

.avatar {
  position: absolute !important;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}