.button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 0;
  color: #fffbcb;
  white-space: nowrap;
  background: no-repeat center / cover;
  font-weight: bold;
  
  .cheat-link {
    position: absolute;
    right: -1px;
    width: 56px;
    padding: 0 26px;
    height: 104px;
    line-height: 104px;
    font-size: 20px;
    color: #ed5485;
    white-space: normal;
    background: url("assets/cheat-bg@2x.png") no-repeat center / contain;
    &::before {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      content: '脱单秘籍';
    }
  }
}

.normal {
  width: 356px;
  height: 100px;
  line-height: 100px;
  background-image: url("assets/btn-bg@2x.png");
  font-size: 42px;
}

.flatten {
  width: 238px;
  height: 66px;
  line-height: 66px;
  font-size: 40px;
  background-image: url("assets/btn-flatten@2x.png");
}
