.popup-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup {
  position: relative;
  margin: 320px auto 0;
  width: 620px;
  padding: 26px;
  background: rgba(#f5ffff, .95);
  border-radius: 22px;
  box-shadow: 0 2px 15px rgba(#6f6f6f, .15);
}

.close {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 48px;
  height: 48px;
  background: url("assets/popup-close@2x.png") no-repeat center / contain;
}