.recent-visitor {

}

.empty-tip {
  display: none;
  height: 161px;
  padding-top: 132px;
  background: url("assets/sad-face@2x.png") no-repeat center top / 102px 102px;
  color: #414141;
  font-size: 30px;
  font-weight: bold;
}

.empty {
  .empty-tip {
    display: block;
  }
}