.recent-visitor {
  h4 {
    color: #fffbcb;
    font-size: 36px;
    .header-text {
      margin: 0 44px;
    }
  }
}

.empty-tip {
  display: block;
  padding-top: 132px;
  background: url("assets/sad-face@2x.png") no-repeat center top / 102px 102px;
  color: #414141;
  font-size: 30px;
  font-weight: bold;
}

.blur-tip {
  display: block;
  margin: 15px 0;
  font-size: 24px;
  color: #fffbcb;
}

.avatar-list {
  margin-right: -14px;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.avatar {
  margin-right: 14px;
}