.recent-visitor {
  overflow-x: hidden;
  h4 {
    color: #fffbcb;
    font-size: 36px;
    .header-text {
      margin: 0 44px;
    }
  }
}

.empty-tip {
  height: 161px;
  padding-top: 132px;
  background: url("assets/sad-face@2x.png") no-repeat center top / 102px 102px;
  color: #414141;
  font-size: 30px;
  font-weight: bold;
}

.blur-tip {
  display: block;
  margin-top: 22px;
  font-size: 16px;
  color: #fffbcb;
}

.avatar-list {
  margin-right: -14px;
}

.avatar {
  margin-right: 14px;
}