* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: #57bdb6 url("~assets/decoration@2x.png") no-repeat center / cover;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    user-select: none;
}

p {
    margin: 0;
}

.copyright {
    position: fixed;
    bottom: 16px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #3b3b3b;
}