* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 60px;
    background: #57bdb6 url("~assets/decoration@2x.png") no-repeat center / cover;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    user-select: none;
    overflow-y: auto;
}

p, h2, h3, h4, h5, h6 {
    margin: 0;
}

.copyright {
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #3b3b3b;
}