.wall-container {
  margin: 0 auto;
  width: 706px;
  height: 508px;
  padding: 83px 37px 33px;
  background: url("assets/wall@2x.png") no-repeat center / cover;
}

.wall-content {
  position: relative;
  height: 100%;
  background: #f9f5c0 no-repeat;
  overflow: hidden;
  
  &.empty {
    padding-top: 285px;
    background-image: url("assets/airship@2x.png") ;
    background-position: center 69px;
    background-size: 180px 185px;
    text-align: center;
    &::after {
      content: "一个标签都没有 永远只做单身狗";
      font-size: 24px;
      font-weight: bold;
    }
  }
}

@keyframes slide {
  from {
    left: 100%;
    transform: translateX(0);
  }
  to {
    left: 0;
    transform: translateX(-100%);
  }
}

@keyframes changeColor {
  from {
    color: #ff2400;
  }
  14.3% {
    color: #e81d1d;
  }
  28.6% {
    color: #e8b71d;
  }
  42.9% {
    color: #e3e81d;
  }
  57.1% {
    color: #1de840;
  }
  71.4% {
    color:  #1ddde8;
  }
  85.7% {
    color: #2b1de8;
  }
  to {
    color: #dd00f3;
  }
}

.label {
  position: absolute;
  left: 100%;
  display: inline-block;
  color: #ed5485;
  font-size: 30px;
  font-weight: bold;
  animation: slide 5s linear both;
  white-space: nowrap;
  &.new {
    animation: slide 5s linear both, changeColor 5s linear infinite;
  }
}

@for $i from 1 through 6 {
  .track-#{$i} {
    top: 40px + 58px * ($i - 1);
  }
}